<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dev Auth Extension</title>
    <link href="./css/semantic.min.css" rel="stylesheet" />
    <link href="./css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <h4 class="ui header">
        <img src="./assets/patrick.png" class="ui circular image small" />
        <div class="content">Dev Auth Extension</div>
      </h4>

      <div class="ui middle aligned divided list">
        <div class="item">
          <div class="right floated content" id="auth517">
            <button class="ui button small">Auth</button>
            <button class="ui loading button small d-none">Loading</button>
          </div>
          <img class="ui avatar image" src="./assets/517.png" />
          <div class="content">Lizzie Pfertner</div>
        </div>
        <div class="item">
          <div class="right floated content" id="auth512">
            <button class="ui button small">Auth</button>
            <button class="ui loading button small d-none">Loading</button>
          </div>
          <img class="ui avatar image" src="./assets/512.png" />
          <div class="content">Cal Vokins</div>
        </div>
      </div>

      <div class="ui labels">
        <a
          class="ui label pink"
          href="https://github.com/kritish-dhaubanjar/dev-auth-chrome-extension"
          target="_blank"
        >
          Github
        </a>
        <!--  -->

        <a class="ui blue label">
          Token Issued
          <div class="detail" id="count">N/A</div>
        </a>
      </div>
    </main>

    <script src="./js/script.js" type="text/javascript"></script>
  </body>
</html>
