* {
  color: #454543;
}
html {
  height: max-content !important;
}

body {
  min-width: 332px !important;
}

main {
  padding: 16px;
}

.ui.loading.button.small {
  padding-left: 11px;
  padding-right: 11px;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.detail {
  color: #e3e3e3;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.m-0 {
  margin: 0 !important;
}

.pt-4 {
  padding-top: 4px;
}

.me-4 {
  margin-right: 4px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.ui.label > img {
  width: 13px !important;
  height: 13px !important;
  position: relative;
  top: -1px;
  margin-right: 4px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.ui.labels > .label {
  margin: 0;
}
